name: CI

on:
  push:
    branches: [main]
  pull_request:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6

      - uses: actions/setup-node@v6

      - uses: pnpm/action-setup@v4
        with:
          version: 10

      - run: |
          pnpm install --frozen-lockfile
          pnpm format:check
          pnpm lint
          pnpm test
          pnpm build
          pnpm pack

      - uses: actions/upload-artifact@v6
        with:
          name: packed-tgz
          path: ./binning-*.tgz
          retention-days: 1

  test-node:
    needs: build
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
        node: ["20", "22", "24", "current"]
    runs-on: ${{ matrix.os }}

    steps:
      - uses: actions/setup-node@v6
        with:
          node-version: ${{ matrix.node }}

      - uses: actions/download-artifact@v7
        with:
          name: packed-tgz

      - shell: bash
        run: |
          npm install -g ./binning-*.tgz
          echo "[1, 2, 3]" | binning

  test-deno:
    needs: build
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
    runs-on: ${{ matrix.os }}

    steps:
      - uses: denoland/setup-deno@v2

      - uses: actions/download-artifact@v7
        with:
          name: packed-tgz

      - shell: bash
        run: |
          tar xvf ./binning-*.tgz
          cd package
          deno install
          echo "[1, 2, 3]" | deno run -A ./dist/src/bin.js
